<div class="container-fluid text-center info">
  <h1>Joanna M. Wasiluk</h1>
  <p>Digital Product Leader|Program Manager</p>
  <br />
  <p>Proactive and enthusiastic Product & Program Manager. A Team Leader with a strong drive for developing digital solutions, 
leading global IT initiatives, steering software product development and collaborating across multiple areas, and achieving business goals.</p>
  <br />
  <a href="https://www.linkedin.com" target="blank"> 
  <%= image_tag("linkedin.png") %></a>

  <a href="https://www.github.com" target="blank"> 
  <%= image_tag("github.png") %></a>

  <a href="https://www.twitter.com" target="blank"> 
  <%= image_tag("twitter.png") %></a>

</div>