<div class="container text-center info">
<h1>Joanna M. Wasiluk</h1>
<p>Digital Product Leader|Program Manager</p>
<p>Something more here ..................................................................</p>
<br />

<a href="https://www.linkedin.com" target="blank"> 
<%= image_tag("linkedin.png") %></a>

<a href="https://www.github.com" target="blank"> 
<%= image_tag("github.png") %></a>

<a href="https://www.twitter.com" target="blank"> 
<%= image_tag("twitter.png") %></a>
</div>