<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well info">
        <h1>Joanna M. Wasiluk</h1>
        <p>Digital Product Leader | Program Manager</p>
        <br />
        <p>The IoT & WearableTech Enthusiast. Experienced Startup Mentor. A Team Leader with a strong drive for developing digital solutions, leading global IT initiatives, bridging the critical gap between business & tech stakeholders, and achieving business goals.</p>
        <br />
        
        <a href="https://www.linkedin.com/in/joannamwasiluk" target="blank"> 
        <%= image_tag("linkedin.png") %></a>
      
        <a href="https://www.github.com/joanaw" target="blank"> 
        <%= image_tag("github.png") %></a>
      
        <a href="https://www.twitter.com/joanaw" target="blank"> 
        <%= image_tag("twitter.png") %></a>
      </div>
    </div>
  </div>
</div>