/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap'; 

body {
  color: white;
  line-height: 1.5;
  background: url('splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.well.info {
  padding: 40px;
  margin: 100px auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 40px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 50px;
  font-weight: 100;
}

p {
  font-family: 'Open Sans', Helvetica; 
  font-weight: 200;
  font-size: 16px;
}
